body {
  font-family: 'Arvo', serif;
  font-size: 48px;
  overflow-x: hidden;
  width: 100%;
}

.content {
  width: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo-container {
  width: 150px;
  height: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid black;
  position: relative;
  border-radius: 50%;

  margin-top: 60px;
}

.logo {
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

p {
  margin-left: 24px;
}

.t {
  font-size: 32px;
  display: block;
  bottom: 0;
  margin: auto;
  margin-bottom: 60px;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}
